<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exemplo Node</title>
</head>
<body>
    <h2>Exemplo Node, Express e Ejs</h2>
    <h4><%= logged %></h4>
</body>
</html>